[2019-09-16 00:22] ainsleys opened #1 "test issue"
testing issue for integration with airtable

[2019-09-16 19:26] ainsleys opened #2 "unable to test signature verification because of errors"
Peter (working on Rock paper scissors bounty) is blocked by the following errors

"Wrong epoch for this task” was thrown, throw an Error
Incorrect nonce yielding bad secret contract address
“Allowance not enough” was thrown, throw an Error

He isn't able to test out how to verify signatures because he's held up on these issues that are seemingly related to the testnet.

[2019-09-16 19:34] ainsleys opened #3 "Input size limits of tasks and secret contracts"
Is the input size of a task or a contract limited to 1MB?
is it possible to include an external crate with more than 1MB?

https://forum.enigma.co/t/data-input-size-limit-increase-1mb/1092

[2019-09-16 19:39] ainsleys opened #4 "Proving user's identity to a secret contract"
Several users (in this case, Nionis) have asked if it is currently possible to enable a way for secret contracts to verify the ethereum address of a task sender.

[2019-09-16 19:46] ainsleys opened #5 "User unable to compile test contract"
https://forum.enigma.co/t/app-js-and-syntax-error/1090/2

[2019-09-16 19:53] ainsleys opened #6 "what are the differences between using pub interface public functions in contract implementation"
Question in forum:

Summary:
What are the differences between using public_interface trait, then implement that trait for the public functions which will interact with UI part vs implement directly public functions right in contract implementation (not using pub_interface)?

Secondly, if I use pub_interface trait, implement it later, is there a way to point to &mut self if I call private functions

[2019-09-16 20:03] ainsleys opened #7 "bug in millionaire's problem demo"
Errors occur since name of the folder “rust_millionaires_problem” and the name in Cargo.toml “rust_millionaires_demo” are not matching.

https://forum.enigma.co/t/millionaires-problem-medium-tutorial-needs-editing/1067

[2019-09-16 20:10] ainsleys commented on #7
@apalepu23 updated the guide, so I'm closing this issue.

[2019-09-16 20:11] #7 closed

[2019-09-16 20:17] ainsleys commented on #2
OK, thanks @lacabra . I'll close this and open one for each one of them.

[2019-09-16 20:17] #2 closed

[2019-09-16 20:18] ainsleys opened #8 ""Wrong epoch for this task" error thrown"
I believe @lacabra is familiar with what might be causing this issue

[2019-09-16 20:19] ainsleys opened #9 "Incorrect nonce yielding bad secret contract address"
This error is reported by Peter, who was working on rock paper scissors bounty.

[2019-09-16 20:20] ainsleys opened #10 ""Allowance not enough" error thrown"
This issue also reported by Peter, working on Rock paper scissors implementation. I can ask for more details if anyone has a suggestion for what would help get this issue resolved.

[2019-09-16 20:27] lauraweindorf commented on #3
Secret contract inputs are limited to 1MB. That may be optimized after Mainnet.
Secret contracts themselves are also limited to 1MB, including any imported Rust crates.

[2019-09-16 20:43] lacabra commented on #2
Thank you

[2019-09-16 21:02] lauraweindorf commented on #6
1. _pub_interface_ is an Enigma attribute macro, part of the _eng_wasm_derive_ crate, that decorates the _ContractInterface_ trait and enables the definition and invocation of your secret contract. Without it your contract cannot be used via EnigmaJS calls.

2. The Enigma secret contracts don’t use the Rust std library which implements the implicit passing of the self reference to methods. To have

[2019-09-16 21:02] #6 closed

[2019-09-16 22:22] ainsleys commented on #1
This task has served its purpose!

[2019-09-16 22:22] #1 closed

[2019-09-16 23:37] ainsleys opened #11 "What data type should I use for solidity types bytes and bytes32 in Rust?"
User is rewriting  SimpleMultisig contract into Rust https://github.com/christianlundkvist/simple-multisig/blob/master/contracts/SimpleMultiSig.sol to be executed on Enigma.

User question originates on Discord, #dev-help channel... handle is AndreiIV#3048

[2019-09-17 16:34] ainsleys commented on #11
@fredfortier answered this one in slack and Can followed up with the user in Discord. For future reference, this information has been added to our documentation: https://enigma.co/discovery-documentation/types/

Closing this issue

cc @lauraweindorf @lacabra

[2019-09-17 16:34] #11 closed, assigned to apalepu23

[2019-09-18 17:10] ainsleys commented on #5
Adding @levackt who is helping this user in the forum

[2019-09-18 17:19] ainsleys commented on #9
Peter provided error logs for this one here: https://forum.enigma.co/t/two-errors-not-enough-allowance-and-incorrect-nonce/1093

[2019-09-18 17:27] ainsleys opened #12 "Is it possible to use Enigma-core dependencies inside the contract?"
From user:

https://forum.enigma.co/t/data-input-size-limit-increase-1mb/1092/2

[2019-09-18 20:53] lauracw100 commented on #3
@sepia is asking about using an extern crate that's about 200kb but has dependencies, some of which are enigma-core, that are around 2MB:

Is it possible to use enigma-core dependencies inside the secret contract?

I've suggested trying it with the extern crate and see if the compiled .wasm is <= 1MB.

[2019-09-18 21:03] ainsleys commented on #12
Duplicate of https://github.com/enigmampc/dev-help/issues/3

[2019-09-19 19:20] ainsleys opened #13 "dynamically retrieve secret contract address"
Question from @nionis -- https://github.com/nionis/enigma-benchmarking/issues/2

He wants to understand:

[2019-09-21 20:42] lauracw100 commented on #3
This article is a good resource for optimizing a `.wasm` build:

https://rustwasm.github.io/docs/book/reference/code-size.html

[2019-09-22 23:46] lauraweindorf commented on #9
Related to https://github.com/enigmampc/dev-help/issues/10.

[2019-09-22 23:59] lauracw100 commented on #9
I was able to reproduce the errors, both of which showed the following error during the `enclave` execution of the task:

`core_1      | Error in execution of smart contract function: Input Error: Cryptography Error: DecryptionError`

The secret contract had a statement initializing an array (a typo) that seems to be culprit:
`let mut new_sig: [u8; 65] = [0u8; 65];`

Changing the statement to init

[2019-09-23 00:04] lauracw100 commented on #10
See related issue https://github.com/enigmampc/dev-help/issues/9 for more info.

[2019-09-23 15:42] levackt opened #14 "Edit ganache-cli launch parameters, enigma-contract docker image"
https://forum.enigma.co/t/edit-ganache-cli-launch-parameters-enigma-contract-docker-image/1021

joao.l.martins would like to provide his own mnemonic key, ideally without building an image.
He's built a custom image in the meantime but couldn't run it.

There's also a follow up question, how secret contracts call smart contracts with computation results.

[2019-09-23 16:30] ainsleys commented on #14
Hey @levackt -- thanks for adding this one! Let's use this issue to address factors around the mneumonic key without building an image. I don't have an answer for that right now... I'll open a new issue for his second question so we can keep things organized/searchable here.

[2019-09-23 16:31] ainsleys opened #15 "Calling ethereum functions from secret contract"
https://forum.enigma.co/t/edit-ganache-cli-launch-parameters-enigma-contract-docker-image/1021/4

This is a follow-up to the user's last question.
I've responded, but the user may have additional questions. The user also requested a tutorial, which we should definitely consider providing asap if we can.

[2019-09-23 18:08] lacabra commented on #14
Yes, we can implement this easily with the use of environment variables. This is an area of active work as we prepare for testnet and mainnet, and it's a feature of how we will use system wide tests to configure a multitude of parameters using environment variables (that get passed onto the containers), instead of command line arguments. I cannot give you an exact timing of the implementation of t

[2019-09-23 18:11] lacabra commented on #13
His rationale is correct. We currently write it to disk on a text file that is easily readable and parseable. On mainnet, these addresses will be hardcoded once a given contract is deployed, so I am marking this a will not implement.

@ainsleys you can close this if you find this satisfactory.

[2019-09-23 18:24] lacabra commented on #5
There seems to be a typo in one of the user's files.
Proposed change, waiting to hear confirmation from the user that that solves the problem.

[2019-09-23 18:25] lacabra commented on #8
This issue has already been resolved in our `develop` branches, but we haven't released that code into the `main` branch, and the `latest` docker images. Leaving this issue open until those changes are merged into the `latest` version.

[2019-09-25 22:55] lauracw100 commented on #9
Fixing the initialization of his `new_sig` array resolved the errors. Peter mentioned that he got that code from the `erc20` example SC code at: https://github.com/enigmampc/enigma-core/blob/develop/examples/eng_wasm_contracts/erc20/src/lib.rs.

Opened issue: https://github.com/enigmampc/enigma-core/issues/228

[2019-09-25 22:55] #9 closed

[2019-09-25 23:16] #10 closed

[2019-09-25 23:18] lauracw100 commented on #3
Requested more info including his `Cargo.toml` and secret contract code.

[2019-09-27 04:26] levackt commented on #5
I don't think there was a problem with Enigma but the user got stuck in the deprecated repo, tried to encourage using discovery.
We can probably close this one now.

[2019-09-27 04:26] #5 closed

[2019-09-27 18:38] ainsleys opened #16 "Secret Benchmarking checkup"
Nionis has finished the code for secret benchmarking, could someone take a look and see if they're able to run it locally, can follow the instructions easily, or notice any other issues?

https://github.com/nionis/enigma-benchmarking

[2019-09-28 02:54] levackt commented on #16
After npm install, discovery fails to compile with the below error.
Checking if it's my version, just upgraded yesterday.

➜  enigma-benchmarking git:(master) ✗ discovery compile
Cannot find the expected directory structure.
➜  enigma-benchmarking git:(master) ✗ discovery --version
0.1.0

**Edit: fixed by creating the missing build dir**

[2019-09-28 03:09] levackt commented on #16
Fails to start due to env vars not set, so something to add to the readme or provide some default env;

➜  enigma-benchmarking git:(master) ✗ discovery start
Starting Enigma Network...
The DOCKER_TAG variable is not set. Defaulting to a blank string.
The BUILD_CONTRACTS_PATH variable is not set. Defaulting to a blank string.
The COMPOSE_PROJECT_NAME variable is not set. Defaulting to a blank strin

[2019-09-28 03:37] levackt commented on #16
With the .env fixed, discovery starts.

With the client also started I can test the application.
Error handling can be improved to inform the user, eg when trying to submit a tx with
an account that doesn’t have ENG we get **name: "NotEnoughTokens", message: "Not enough tokens to pay the fee"**.
Currently it just says "Something went bad, please retry".

[2019-09-28 03:49] levackt commented on #16
https://github.com/nionis/enigma-benchmarking/blob/master/client/src/env.ts#L4

This can be localhost ("http://localhost:3346") since the port is mapped.
Then there's no need to edit client/src/env.ts

[2019-09-28 04:13] levackt commented on #16
discovery test works but I haven't been able to upload a file yet, fails with the following error in enigma, while the client hangs and doesn't display any error.

p2p_1       | [Sat Sep 28 2019 04:08:52 GMT+0000 (Coordinated Universal Time)] DEBUG [onVerifyTask] saved to db task eebc2fa94431bd83d354ad3cab16435dc8e25fec9b3440a74564d259e347f28c
core_1      | 04:08:52 [INFO] compute_task() => Err(DB

[2019-09-28 21:04] lauracw100 commented on #16
I agree with @levackt on this one. It took me awhile to figure out what to put there and finally looked at the `test_benchmarking.js` code to see what value to use for `enigmaUrl`.

[2019-09-28 21:09] lauracw100 commented on #16
I agree @levackt on putting something in the README. I didn't have an issue with `discovery start`. I'm using the same version of `discovery-cli` as you.

[2019-09-28 21:11] lauracw100 commented on #16
Yeah, I got this error too.

I recommend he include an empty `build/` dir with a git keep file so other devs don't run into this issue.

[2019-09-28 22:32] lauracw100 commented on #16
I was able to upload a file after setting up my Metamask account using a local RPC network of `http://localhost:9545` and imported an account using the private key listed for `account[0]` found in the `discovery start` log.

NOTE: my feedback on the UI and UX don't indicate that there's an issue, but just trying to make it easier to understand and navigate for someone who uses it for the 1st time

[2019-09-29 21:36] lacabra commented on #16
FYI, this is a known issue I need to address:
[code]

I'm now tracking it here: enigmampc/discovery-cli#19

[2019-10-01 16:59] ainsleys opened #17 "problem with decryptTaskResult, only appearing in react app"
Here's the link --
this is one of our bounty devs, and he's run into quite a lot of trouble. It will be great if we can help get this resolved.

https://forum.enigma.co/t/problem-with-decrypttaskresult-only-in-react-app/1106

[2019-10-01 17:12] ainsleys commented on #16
Thanks for letting us know about that @lacabra , and thanks for the detailed feedback @levackt and @lauraweindorf !!

I've shared this feedback with Nionis! He'll let me know which of the reccs he can implement that are within scope and I'll close this issue when bounty is paid out :)

[2019-10-01 17:33] lauracw100 commented on #17
I'll check it out and see if I can help him.

[2019-10-01 17:35] lacabra commented on #17
Hold on @lauraweindorf 🙃, coincidentally this is being tracked in here already: enigmampc/enigma-contract#154

[2019-10-01 17:35] lauracw100 commented on #17
oh ok cool!

[2019-10-01 22:56] guix77 commented on #17
Problem solved for me. I forgot to `getTaskResult` before `decryptTaskResult`... https://github.com/guix77/enigma-secret-access-control/commit/1f1e0019a608626a272f71e6ffb6370f649a00bc

[2019-10-02 00:55] #17 closed, assigned to secretchaingirl

[2019-10-02 18:12] ainsleys commented on #13
Closing this, thanks for the explanation @lacabra

[2019-10-02 18:12] #13 closed, assigned to nobody

[2019-10-03 20:43] ainsleys commented on #12
Closing this as we are addressing it in #3

[2019-10-03 20:43] #12 closed, assigned to secretchaingirl

[2019-10-03 20:44] ainsleys commented on #8
Just checking to see if this still hasn't merged to `stable` version yet

[2019-10-03 20:46] ainsleys commented on #4
This is a feature request we'll have in the future. I'm going to close it, because we can't fix it now, but I'm also going to create a new label "feature request (FUTURE)" so we can find these types of issues in the future.

[2019-10-03 20:46] #4 closed

[2019-10-03 20:47] ainsleys commented on #3
@lauraweindorf thanks for helping on this one! I'm going to close it, if user responds with new problems let's open a new issue. I think we addressed the main question here.

[2019-10-03 20:47] #3 closed

[2019-10-03 20:48] ainsleys commented on #14
Added feature request future tag to show we will implement this. Closing the issue as we cannot do it now.

[2019-10-03 21:05] ainsleys opened #18 "NFT Lottery (bounty checkup)"
One more bounty to run and check to see if--
- readme/docs are clear
- ui makes sense
- app runs as expected!

https://github.com/nionis/enigma-non-fungable-token-lottery

[2019-10-04 00:25] ainsleys opened #19 "Standardizing the bounty solutions"
We want to be able to bring all the bounty solutions together in our repo in some fashion, so that new users can use them as examples, fork them and build upon them, and so forth.

Option 1: create a new repo in EnigmaMPC for each bounty

Option 2: create a "bounties" repo which contains each bounty exactly as it is in a file structure

Option 3: create an "all samples" repo which enables users to

[2019-10-04 04:18] levackt commented on #18
Installation:
<s>
Missing build dir
No .env or example .env
Set enigma url to localhost
</s>
With the above fixed, the readme is sufficient for installation.
The tests pass and discovery starts and migrates.

There are no docs for usage or what problem the application solves, a readme in the client would be helpful.

Usage:
Would be helpful to provide a sample of the 100 whitelisted address.
<s>
T

[2019-10-04 05:20] levackt commented on #18
In terms of being feature complete, the tests cover the roll function but don't check if there's a winner and if the lottery is COMPLETE

Looking at the contract code there's a max participants of 1000, which should be 100 for whitelisted, and then 10 participants before choosing a winner.

[2019-10-05 21:15] lauracw100 commented on #18
I have the same comments here as @levackt.

**My Recommendations**:

1. The README should explicitly state that the enigma contract address (secret contract) address needs to be set to the lottery secret contract's deployed address, which can be found under the test/lottery.txt file. I would even include a code snippet of what that would look like. Nothing like visuals!

2. Also, above that kind o

[2019-10-06 11:45] levackt commented on #19
I like Option 3.

We can setup and maintain a standard server config, the client can use any JS framework and patterns en vogue.
If we have any internal examples like secret millionaires they can be homed there too.

[2019-10-06 12:07] levackt commented on #18
Rebuilt node after updating and managed to get my txs confirmed.
+1 all the above, the UX and error messages could use some love.

Not sure about your error but why are you using Rinkeby?

[2019-10-06 12:56] levackt commented on #18
<s>
I'd expect some docs about the NFT steps outside the dapp too, eg jump into truffle console, create an instance of the token, mint it for your user, note the contract address.

To simplify the NFT minting, a truffle post deployment script to mint for the 1st account (owner) should work nicely.

https://www.trufflesuite.com/docs/truffle/getting-started/writing-external-scripts
</s>

Fixed by pr

[2019-10-06 22:09] lauracw100 commented on #18
Good point! I was just playing around with data for the UI. Not sure what I was thinking ;-).

[2019-10-07 08:03] nionis commented on #16
Hello guys, thank you for taking the time to give me feedback!

-------

The project doesn't come with any default datasets, I believe the reason you saw this it's because you run the tests.
Normally, the enigma contract address you should use is the one you get after `discovery migrate`

-------

I don't believe this should be an issue unless you have tested it, please let me know.

[2019-10-07 09:40] nionis commented on #16
sign a message
approve a transaction
approve a contract interation

I want to add this on both projects, to be honest I am not sure how it works internally, for example why do you need to approve enigma tokens?
It would be very helpful to work together on this, perhaps you can make a PR with a short explanation on how it works.

[2019-10-07 09:45] nionis commented on #16
latest master branch addresses these issues: https://github.com/nionis/enigma-benchmarking/issues/7

[2019-10-07 09:53] levackt commented on #16
Thanks for the updates Steve, will dive back in later and check it out.

On Mon, Oct 7, 2019 at 11:45 AM Steve <notifications@github.com> wrote:

[2019-10-07 09:57] nionis commented on #16
cool, updated the setup instructions too, make sure to check it out

[2019-10-07 10:12] nionis commented on #18
No .env or example .env
Set enigma url to localhost

fixed these on the latest master

[2019-10-07 16:47] lacabra commented on #8
No, but I realized the following: if anyone is experiencing this issue, and wants to get ahead of the game, they can use the next branch that will eventually be merged into the stable `latest` by changing the following line in their `.env` configuration file to:
[code]
Please note that this will require downloading an additional 16GB of docker images in addition to the ones the user may have alrea

[2019-10-08 03:52] levackt commented on #18
I've signed and submitted all txs until step 3, everything seems to be ok but the front end throws an error here;
https://github.com/nionis/enigma-non-fungable-token-lottery/blob/master/client/src/models/EnigmaTransaction.ts#L80

What's the reason for this error? Code comments can be helpful to the dev, as well as a more descriptive error message, currently it says "Failed" so the user wouldn't kn

[2019-10-08 05:44] nionis commented on #18
@levackt did you have this issue before yesterdays update?

[2019-10-08 23:17] lauracw100 commented on #16
Hey Steve @nionis :-D. Yes, that must be it--that I ran the tests. I'll take another look at the latest too, in a day or two.

Disregard that comment about the task rates being sorted. I was following notes on how to calculate percentiles, but you're code handles it correctly!

[2019-10-09 04:23] levackt commented on #16
@nionis
When you create the task to save the addresses, you specify the ENG gas and gas limit, more in the [docs](https://enigma.co/discovery-documentation/API/#createtaskfn-args-gaslimit-gaspx-sender-scaddrorprecode-iscontractdeploymenttask-task)

Would suggest setting that a lot lower than 10 million in a real app :)

[2019-10-09 05:00] levackt commented on #18
No, but I can reproduce it repeatedly now and I don't see anything suspicious to revert and test.
If it doesn't happen when whitelisting addresses, it happens on the final step creating the lottery, in the former the task status is 3 and the latter it's 4, from a few tests anyway.
Still no errors or warnings in the discovery console.

[2019-10-09 08:08] nionis commented on #18
@levackt The only instance where I was able to recreate the error is when I don't reset metamask after discovery start, more info [here](https://github.com/nionis/enigma-non-fungable-token-lottery#pitfalls).
Other than that the most common issue I have is the [epoch](https://github.com/enigmampc/dev-help/issues/8) issue.

[2019-10-09 08:10] nionis commented on #18
On [this commit](https://github.com/nionis/enigma-non-fungable-token-lottery/commit/e3477916baedc634d20f9d0b6e04ebf4cca63285) I have added a few handy scripts to help you guys create erc721 contract and mint tokens.

[2019-10-09 08:16] nionis commented on #16
@levackt is there a way to figure what gas / gas limit is the best?

[2019-10-10 04:32] levackt commented on #18
Thanks Steve.
I think if you include extra scripts you should also add them to the docs for usage, and/or include in  package.json so it's part of the build.
You can also have post deploy scripts, but I just included the minting if in development env [like this ](https://github.com/levackt/enigma-non-fungable-token-lottery/commit/d2304edb793077203216dbcc16a3e4dd2958876e)

[2019-10-10 04:56] levackt commented on #18
Can reproduce Laura's issue #9, though some scenarios result in the object and others result in "Error: failed" (when the account has already entered in the lottery for example or is not whitelisted)

Addressing those 2 categories should cover you for most error conditions in the app, errors from the server and browser.

[2019-10-10 05:13] levackt commented on #18
When successfully entering the lottery, or "rolling" to end the lottery, you have to hard refresh to update the client state. Though the success criteria only includes failures it'd be nice to handle success too, stretch goal maybe :)

That said I finally got through the entire process, won and lost the lottery and have my NFT. Yay!
No idea why it took so many tries, I was resetting my account eac

[2019-10-10 05:25] nionis commented on #18
@levackt I also experience this. It seems to me sometimes the [epoch](https://github.com/enigmampc/dev-help/issues/8) issue occurs more than other times. I guess best way to confirm is to wait for the [epoch](https://github.com/enigmampc/dev-help/issues/8) fix.

[2019-10-11 04:47] levackt commented on #16
Will get back to you on this one Steve

[2019-10-11 04:56] levackt commented on #16
Choosing the lowest number (1) in the sample still results in "Your quote is more expensive than 40% of other quotes."

Not sure if this is just wording or the formula

[2019-10-11 05:01] levackt commented on #16
Error handling was mentioned already, eg rate 0.99, the client hangs while the console logs "Error: invalid number value"

We can avoid submitting such payloads by validation or formatting, then if it passes we should inform the user of any errors from enigma.

[2019-10-11 06:30] levackt commented on #16
So the core logs the gas used by the task, eg;

Will look into whether this is gwei, wei or eth sort of units, and how to represent it as such.
For your example based on the above you can get away with 1000000.

Mind it varies depending on the computations, if there are different scenarios you'd set a limit based on worst case.

That said the upload size can vary a lot so 10m was as good a start a

[2019-10-11 12:07] nionis commented on #16
I have changed the wording from "Your quote is in the 40th percentile" to "Your quote is more expensive than 40% of other quotes." according to the suggestions requested above, I believe the former is the proper language when it comes to percentiles, but to be honest I am not an expert in this so please correct me if I am wrong. I have switched it back to the former wording.

--------------

I hav

[2019-10-11 12:20] nionis commented on #18
Feel free to make PR's for any commits you have made on your fork, since I am not sure how this will be used it's hard for me to know what needs to be done in terms of presentation.
I have update the readme with how to use the scripts.

[2019-10-11 12:22] nionis commented on #18
Since the users who entered the lottery are anonymous, we don't know when the account has already entered in the lottery. It will require 2 transactions which I believe it's not very user friendly.

[2019-10-11 12:34] nionis commented on #18
I have updated it so when the user creates the lottery, we refetch lotteries.

[2019-10-13 04:37] levackt opened #20 "Are there Enigma client packages for interacting with contracts on android and ios devices?"
This is a question in Discord, are there other clients in the pipeline or concrete plans?

[4:32 PM] Taariq: Hi, @bmiller59
There's only a JS client at the moment. Docs are here if you haven't seen it yet, maybe Flutter can run JS.

https://enigma.co/discovery-documentation/IntroductionToEnigmaJS/
[12:26 AM] bmiller59: Thanks, @Taariq. I'll see if that works for my needs. Any concrete plans to off

[2019-10-13 15:54] levackt commented on #18
Sorry I wasn't clear, you don't need to check if the account entered the lottery, only handle the error when it's rejected.

The error message when using an account that doesn't have any ENG for example, can be fixed by displaying "err.message()" instead of err.toString() in the [catch](https://github.com/nionis/enigma-non-fungable-token-lottery/blob/master/client/src/models/EnigmaTransaction.ts#L

[2019-10-13 21:51] lauracw100 commented on #18
UDPATE: I thought I fixed this error, but it occurred after I joined the Lottery and the page wasn't updated and I had to refresh to see it change from `Participants 0/2` to `Participants 1/2`.

-----------

Hey @nionis, I was getting this error when running 'npm run dev' under the client and fixed it by running `npm i html-webpack-plugin@next`. Just an FYI in case you want to update the version o

[2019-10-13 21:58] lauracw100 commented on #18
In this latest version, the success page for creation of the Lottery, the UI steps are going off the screen for me, and the Homepage button has the text flowing out of the container. Is it possible to fix these? I'm not familiar with react so I'm not sure how much effort is involved there.

<img width="1664" alt="Screen Shot 2019-10-13 at 5 55 14 PM" src="https://user-images.githubusercontent.com/

[2019-10-14 04:03] levackt commented on #18
Made a [little PR](https://github.com/nionis/enigma-non-fungable-token-lottery/pull/1) for the button text.

[2019-10-14 07:56] nionis commented on #18
update: I didn't realise the issue is in the terminal 👍 .
Yep I am aware of that issue, I haven't been able to find a solid fix for that, since it doesn't affect the client, I will wait until a proper fix is available.

---------

@lauraweindorf I am unable to recreate the "html-webpack-plugin@next" issue, could you delete client/node_modules folder, npm install and try again?
Also what node versi

[2019-10-14 08:01] nionis commented on #18
@lauraweindorf I am unable to recreate the "steps" issue :/

I do have the button issue tho

[2019-10-14 09:09] levackt commented on #18
Also tried Laura's fix and still got the error log, doesn't seem to break anything, as far as I can tell.
My node version is v11.15.0

[2019-10-14 09:47] nionis commented on #18
following up https://github.com/enigmampc/dev-help/issues/18#issuecomment-538689101

(3) For example step 1 is only for contract owner, step 2 is there in case the token is already approved by the user.

(7) The secret contract can work with any NFT smart contract, so it's up to the user to enter his NFT token. The migration step shouldn't migrate a NFT smart contract in production.

(8) There can

[2019-10-14 10:12] nionis commented on #18
latest version includes some UI improvements suggested at https://github.com/enigmampc/dev-help/issues/18#issuecomment-538689101

[2019-10-15 15:21] levackt commented on #20
Answered by Ainsley

[2019-10-15 15:21] #20 closed, assigned to nobody

[2019-10-15 21:55] lauracw100 opened #21 "Does it mean that the contract code remains secret unless someone publishes it offchain?"
This is a question from Codonyat on discord.

He asks:

Does it mean that the contract code remains secret unless someone publishes it offchain?

Codonyat it's my understanding the secret contract code is public. This is done to insure no malicious code is sent to the nodes. I can't find a quote from the team for you tho.
Maybe Ainsley | Enigma can clarify?

I'll review the architecture and code t

[2019-10-15 22:09] lauracw100 commented on #21
Can just answered:

secret contract is auditable b/c a user who's interacting with the code must know what they are signing up for. For example, if you are going to play rock paper scissors and there's a payout at the end, you should check that the rules are what they are supposed to be but more importantly the payout will be made to the winner. Otherwise a malicious contract deployer can add her

[2019-10-15 22:09] #21 closed, assigned to secretchaingirl

[2019-10-16 04:31] ainsleys commented on #19
I also like option 3... do you know what would be involved in getting from where we are now to that?

[2019-10-16 04:33] ainsleys commented on #18
Thanks team! @nionis would you be able to create and share a short screencast video demonstrating the app? This will make it easy for me to share w/ the rest of our product team. It looks like aside from that we're pretty much all set. Do you want to make the PR for me to release the bounty?

[2019-10-16 06:31] nionis commented on #18
@ainsleys Sure!
I have made a PR already over at gitcoin, feel free to release bounty.
Let me know if you need any changes.

[2019-10-16 22:58] lauracw100 commented on #18
I'm using Node v10.16.

Yeah, it's not breaking anything for me either. My node version is 10.16 at this point, but I'll try upgrading and doing a clean `npm install.`

[2019-10-17 00:58] lauracw100 commented on #18
@nionis I got a couple of lotteries created and rolled. Yay!

The only issue I had was my 2nd user didn't have any ENG and I wasn't able to join the lottery until I transferred the 10,000,000 ENG tokens to that account.

Is it supposed to work that way? @levackt did you have to do that too?

I'm really thinking instructions are needed for the README. I can try to do some PRs when I get time later

[2019-10-17 02:11] ainsleys commented on #18
@nionis cool! Let me know if you have time to make the screenflow? And I agree with @lauraweindorf -- if we can add more instructions to the README that would be great.

[2019-10-17 03:14] levackt commented on #18
Yes you need ENG to participate in the lottery, not sure if you can do that without ENG but I'm still wanting to dive into ENG as gas. That said it'd be great to have some docs for both the dev and the user about these steps especially.

[2019-10-17 03:54] ainsleys commented on #16
Hey @nionis -- it would be great if you can make a screen recording of using this app too. I'll go ahead and release the bounty on this.

[2019-10-17 05:59] levackt commented on #19
At the moment, I'm only aware of the common build path for the enigma contracts. Will take a stab and see if there are some other hurdles.

[2019-10-17 06:14] ainsleys commented on #16
@lauraweindorf / @levackt -- if either of you have a few minutes to take some screenshots of the application, it would really help jazz it up for the readme. I'm hoping to get this ready as an educational resource for our upcoming hackathon. For now, I'm just going to make every bounty it's own repo. We can optimize this in the future :). See https://github.com/enigmampc/enigma-benchmarking

cc @n

[2019-10-17 06:18] ainsleys commented on #18
As with secret benchmarking, have moved this to its own Enigma repo. Would be awesome to either get a video or at least some screenshots of how to use the application. cc @lauraweindorf @levackt @nionis https://github.com/enigmampc/enigma-non-fungible-token-lottery

[2019-10-17 06:58] levackt commented on #16
Sure, on it

+1

[2019-10-17 07:09] levackt commented on #16
![Screenshot 2019-10-17 at 09 06 10](https://user-images.githubusercontent.com/10286403/66985670-91f8d600-f0bd-11e9-8735-65052db827e5.png)
![Screenshot 2019-10-17 at 09 05 37](https://user-images.githubusercontent.com/10286403/66985671-92916c80-f0bd-11e9-8eb7-99d762d8618a.png)
![Screenshot 2019-10-17 at 09 05 24](https://user-images.githubusercontent.com/10286403/66985672-92916c80-f0bd-11e9-9ca9-f

[2019-10-17 10:36] nionis commented on #18
Do you guys think it is better to have a video or a slide show?

[2019-10-17 17:13] ainsleys commented on #18
@nionis Either works! Whatever's easier for you. We can always make static images from a video, so video probably easier?

[2019-10-20 20:30] lauracw100 opened #22 "Request for version of Millionaires' Problem using the new and improved way of writing secret contracts"
From Discord:
(sepia 10/04/2019)
Is there an updated version of the millionaires problem SC with the latest improvements?

mean the ones described in the blogpost above, "secret-contracts-now-new-and-improved"
I thought it would be helpful to have a direct comparison of the syntax with the millionaires problem

[2019-10-20 20:38] lauracw100 commented on #22
Hey team!

I've got a repo for Sepia's request, if you want to take a look and possibly add to the main enigmampc repo:

https://github.com/lauraweindorf/enigma-millionaires-problem

With README:

<img width="987" alt="Screen Shot 2019-10-20 at 4 36 51 PM" src="https://user-images.githubusercontent.com/436905/67165844-e61ee700-f357-11e9-936c-c1c6ff593947.png">

[2019-10-21 04:51] levackt commented on #22
Great stuff Laura, love the new contract, less really is more.

I got going with very little trouble, see https://github.com/lauraweindorf/enigma-millionaires-problem/pull/1

Some other notes;
- Node version suggested is higher than discovery-cli's noted range, great that it works though, and I used 10.15 so that still works too.

- Perhaps explain the account being used, a new user may assume it'

[2019-10-21 05:13] levackt commented on #22
Added an approach to error handling in [PR 2](https://github.com/lauraweindorf/enigma-millionaires-problem/pull/2)
Maybe we can do something neater, still learning react and stuff myself :)

[2019-10-21 17:11] lauracw100 commented on #22
I'm still learning too! haha
Yes, @levackt let's collaborate some more if you have some ideas!

[2019-10-21 18:32] levackt commented on #22
Awesome Laura, looking forward to it.

On Mon, 21 Oct 2019, 19:11 Laura Weindorf, <notifications@github.com> wrote:

[2019-10-21 22:36] lauracw100 commented on #19
It seems like `git submodules` might be an option?

https://git-scm.com/book/en/v2/Git-Tools-Submodules

But it's a more advanced usage of `git`. Basically, the layout would be the main repo, _enigma-samples_, with the sample repositories added as submodules:
[code]

To clone the entire samples repo:
[code]

I kind of like this approach, but I don't if it's in line with the standard server config

[2019-10-21 22:46] lauracw100 opened #23 "Can a TEE "ring of trust" be wrapped around any layer of the Enigma Protocol?"
https://forum.enigma.co/t/t-e-e-ring-of-trust-with-forcibly-distributed-token/1117

Econymous is asking:

cc: @ainsleys @lacabra

[2019-10-21 23:14] lauracw100 opened #24 "Questions on internals of Enigma Protocol"
ARsakura is asking for some information on the internal implementation and concepts of the Enigma Protocol from these papers:

- [Decentralizing Privacy: Using Blockchain to ProtectPersonal Data](https://enigma.co/ZNP15.pdf)
- [Enigma: Decentralized Computation Platform withGuaranteed Privacy](https://s3.amazonaws.com/enigmaco-website/uploads/pdf/enigma_full.pdf)

cc: @ainsleys @lacabra

Is there

[2019-10-22 02:58] ainsleys commented on #19
Interesting find, @lauraweindorf -- as long as we clearly document how people can get started on this. And, I think it's much easier if we can standardize the server config as @levackt and you discussed. That's something we should probably specify in future bounties, so we're not doing it later. In fact, if we set something like this up, we can ask for future bounties to be submitted as PRs to thi

[2019-10-22 03:00] ainsleys commented on #24
We should just respond and tell this user that the white papers are not implementation specs for the current network, but outlined early possibilities for system design. The problem with answering these questions is that they refer to a multi-party compute architecture, and Discovery works with TEEs instead. I think we should refer this user to the current documentation... rather than try to answe

[2019-10-22 03:03] ainsleys commented on #23
responded asking for clarification on "ring of trust"

[2019-10-22 03:09] ainsleys commented on #22
This is awesome. @lauraweindorf do you think we should update existing guides with links to this? I'd like to bring it into the enigma repo as well. I think we should also be able to make some content around this, would you like to take a first pass at drafting a blog post? It should communicate:
- what the demo does
- why you made the demo
- what users can learn from the demo

In addition to demo

[2019-10-22 03:10] ainsleys commented on #18
I am closing this issue as we've posted the bounties now. Further discussion can take place in our issue around documenting the bounties #19

[2019-10-22 03:10] #18 closed, assigned to secretchaingirl, levackt

[2019-10-22 06:35] levackt commented on #19
Took a stab over the weekend and just pushed my naive approach to [option 3](https://github.com/levackt/enigma-samples-repo1)

Initially I thought it's a little env config in each sample to compile and migrate to the server started at the root, and maybe this is still possible, discovery-cli expects a dir structure to exist relative to where it's run and this makes things tricky.

In the repo I ma

[2019-10-22 16:32] lacabra commented on #22
FYI, since I see recurring questions on the version of Node. The contract/enigmaJS and p2p are currently on the latest of version 10, which is 10.16.3; so either align with that, or just stay to any of the recent 10 subversions. Version 11 is a no go because it is not supported any more.

We will upgrade to version 12 *after* we reached mainnet.

[2019-10-22 16:32] nionis commented on #19
Hey guys, in my previous position I spent a significant amount of time optimising development workflow. Here is my opinion on how to improve the overall developer experience:

1. Create a project template
- The template should have a bare bones “hello world” implementation that encapsulates the whole project cycle.
- It should include both the secret contract source and dapp source code, the devel

[2019-10-22 16:34] lauracw100 commented on #24
Okay, great! I'll do that @ainsleys :-D.

[2019-10-22 16:35] lacabra commented on #8
The changes that addressed this issue were finally merged last week to the `master` branches of the main repos, and new docker images tagged `latest` were pushed out, and this can now be closed.

[2019-10-22 16:35] #8 closed

[2019-10-22 18:16] levackt commented on #19
Great points Steve.

Having the samples closely resemble the project generated by discovery-cli
will make it easier to reason about.

On the helpers, a test helper package like zeppelin's would be very handy
indeed.

On Tue, 22 Oct 2019, 18:32 Steve, <notifications@github.com> wrote:

[2019-10-22 18:24] lauracw100 commented on #24
Added Ainsley's response and pointed ARsakura to the Enigma documentation here: https://enigma.co/discovery-documentation

Forum post: https://forum.enigma.co/t/questions-of-the-paper/1114

[2019-10-22 18:24] #24 closed, assigned to nobody

[2019-10-22 18:27] lauracw100 commented on #22
Okay, thanks @lacabra! I'll update the repo.

Yes, @ainsleys that sounds like a great idea. I'm up for taking a first pass at a draft blog post. Will work on that this weekend or sooner.

[2019-10-22 19:18] lauracw100 commented on #19
Great feedback @nionis!! It's great to have your knowledge and experience as input for this!

[2019-10-23 17:46] ainsleys commented on #19
@nionis likewise, I really appreciate this. @lauraweindorf I wonder if your millionaire's problem example could be used as the template for something like this?

[2019-10-23 23:50] lauracw100 commented on #19
yeah @ainsleys, good idea. I can use it as a starting base to create a template, and include @nionis suggestions above. Would it make sense to track that work by adding an issue to our dev-help repo? And then everybody can review and make suggestions to finalize it. Including PRs to add helper functions :-D. I think @levackt and @nionis will have good input there.

[2019-10-24 01:28] ainsleys commented on #19
That sounds great! let's do it.

On Wed, Oct 23, 2019 at 4:50 PM Laura Weindorf <notifications@github.com>
wrote:

[2019-10-24 22:11] lauracw100 opened #25 "Create enigma dapp sample template"
Hey guys, in my previous position I spent a significant amount of time optimising development workflow. Here is my opinion on how to improve the overall developer experience:

1. Create a project template
- The template should have a bare bones “hello world” implementation that encapsulates the whole project cycle.
- It should include both the secret contract source and dapp source code, the devel

[2019-10-25 12:03] levackt opened #26 "“discovery init” error"
[forum question](https://forum.enigma.co/t/error-running-discovery-init/1122)

my environment:
ubuntu 16.04
node -v : 10.17.0 (system install without using nvm)
npm -v : 6.11.3
discovery -v: 0.1.3

found 2 low severity vulnerabilities
  run `npm audit fix` to fix them, or `npm audit` for details
? Running in SGX Hardware (HW) or Software (SW) mode? (HW/sw) sw
? About to pull Docker images. This re

[2019-10-25 12:04] levackt opened #27 "How do I get oracle data into a computation?"
[forum question](https://forum.enigma.co/t/how-do-i-get-oracle-data-into-a-computation/1121)

[2019-10-25 12:07] levackt opened #28 "Some queries regarding SGX"
[forum question](https://forum.enigma.co/t/some-queries-regarding-sgx/1124)

I have some queries regarding SGX I’m hoping intelligent folks here would help me understand it
I get that SGX is a TEE
Can someone help me understand how does the SGX work?
I read it provides hardware security
My perception of SGX is that it is some sort of a sandbox insulated from OS and other apps.
Where does SGX resid

[2019-10-25 12:08] levackt opened #29 "Is ML model training actually possible on Enigma? How?"
[forum question](https://forum.enigma.co/t/is-ml-model-training-actually-possible-on-enigma-how/1125)

[2019-10-25 14:05] levackt commented on #26
Seems they haven't selected Y to pull images and the cli timed out, will try reproduce before I respond.

[2019-10-25 14:13] lacabra commented on #26
It is strange though, because I don't think there is a timeout there. It should wait "forever" for user input. My guess is that they pressed "Enter" which accepts the "Y" as the default value. So then the error is indeed with the pulling of docker images, but that is also strange if it works for the rest of us...

[2019-10-25 14:23] levackt commented on #26
Yep, I'm still waiting for a timeout, which as you say probably won't happen.

[2019-10-25 14:24] lacabra commented on #26
alternatively, hit "enter" and you'll see how no answer gets recorded, and the process continues :)

[2019-10-25 14:29] levackt commented on #26
That's what I usually do so don't expect any surprise this time.
Will give it some more time anyway, just so I don't have doubts about it later, meanwhile I'm looking at how the [cursor position](https://github.com/enigmampc/discovery-cli/blob/master/src/docker.js#L64) works for the next clue.

[2019-10-25 14:31] levackt commented on #26
In a different terminal I confirmed it won't print anything if I choose defaults, so that was indeed a straw :)

[2019-10-25 14:33] levackt commented on #26
Will also try their node version

[2019-10-25 14:46] levackt commented on #26
node 10.17 worked for me, on MacOS

I found similar [issues with get-cursor-position](https://github.com/bubkoo/ascii-progress/issues/14) and it was their OS, Redhat 7.4 and Raspbian

[2019-10-25 14:51] lacabra commented on #26
ah, yes, this is related to the progress bar that displays how the downloads progress. Thanks for digging this. Not sure there is anything we can do at the moment. My suggestion is as follows:

Get back to the user and say that the installation was successful and that he has to manually pull the docker images with `docker-compose pull`. Once that completes, the installation will be completed, as i

[2019-10-25 19:08] levackt commented on #26
Confirmed resolved

[2019-10-25 19:08] #26 closed, assigned to levackt

[2019-10-26 05:36] levackt commented on #27
closed thanks to @ainsleys

[2019-10-26 05:36] #27 closed, assigned to nobody

[2019-10-26 05:36] levackt commented on #29
closed thanks to @ainsleys

[2019-10-26 05:36] #29 closed, assigned to nobody

[2019-10-26 05:37] levackt commented on #28
closed thanks to @ainsleys

[2019-10-26 05:37] #28 closed, assigned to nobody

[2019-10-27 17:59] lauracw100 opened #30 "Error deploying secret node"
From the forum:
https://forum.enigma.co/t/error-when-starting-node/1128

R0bb0 is trying to setup and deploy a secret node on his NUC device and having an issue starting it in HW mode.
[code]

@moonstash suggested he might not have enabled SGX in the NUC's bios.

I also added a link to the guide for deploying an NUC secret node, so R0bb0 can check to make sure he followed it exactly: https://secre

[2019-10-27 18:27] lauracw100 commented on #16
Nice snaphsots @levackt!

@ainsleys should we close this issue? I was thinking of adding an issue to the project that was forked, now under the enigmampc repo, to update the README with a description of how to use the DApp and include some or all of these screen shots.

The other bounties don't have screenshots illustrating the flow in the app though so maybe they're not needed for the READMEs.

W

[2019-10-27 18:29] lauracw100 commented on #16
Oops I just read what you wrote above @ainsleys :-).

[2019-10-27 21:20] lauracw100 commented on #30
Another user on the dev-forum:

I too have the exact same error/warning messages after setting up my node this evening and following the instructions on: https://secretnodes.org/#/tutorials/deploy-secretnode-nuc

I’m running Ubuntu 18.04.1 LTS // Dell Latitude // Core i5 7tg Gen

SGX is currently enabled in the bios.

[2019-10-27 21:20] lauracw100 commented on #30
@moonstash is running through the guide to see if something got broken.

[2019-10-27 21:41] lauracw100 commented on #30
Hardware and software requirements for running Discovery in HW (SGX) mode: https://secretnodes.org/#/faq?id=what-are-hardware-and-software-requirements

[2019-10-27 21:42] lauracw100 commented on #30
Both devs reported that SGX is enabled in the BIOS.

[2019-10-27 22:14] lauracw100 commented on #30
@moonstash went through the guide and was able to reproduce the errors:

 "didn’t actually prevent the SGX enclave from being engaged later"

and recommended ignoring the errors for now.

[2019-10-27 23:24] lauracw100 opened #31 "Discovery start isn't initializing all ganache accounts with ENG tokens"
@lacabra when @levackt was testing my millionaires problem DApp he found an issue where ENG tokens aren't getting minted for 10th ganache account.

I've been reviewing discovery code to try to find where that happens. It looks like that account is being used by the Principal Node and that might be the reason why it doesn't have any ENG when discovery starts up?

[2019-10-28 04:20] levackt commented on #31
For a little background Victor, I highlighted this as an example of errors we can handle in the dapps towards user friendliness, I don't know if it was intentional to have an account that doesn't have ENG, for testing for other reasons.

That said if there's a need for it to match the number of ganache accounts then we should probably wait until the docker env config changes [previously mentioned]

[2019-10-28 15:41] lauracw100 opened #32 "Dev following millionaire's tutorial is getting error that task key pair needs to be set"
From the forum:
https://forum.enigma.co/t/error-when-running-discovery-test-for-tutorial-millionaires-problem/1130

Dev is following the blog post [Getting Started with Enigma: An Intro to Secret Contracts](https://blog.enigma.co/getting-started-with-enigma-an-intro-to-secret-contracts-cdba4fe501c2).

The error is `Error: Need to set task key pair first`.

I told him to add the `enigma.setTaskKeyP

[2019-10-28 19:35] lacabra commented on #31
@lauraweindorf:
This is correct, the 10th account is "reserved" for the KM node, and it gets no tokens. For reference, the code that distributes ENG tokens is [here](https://github.com/enigmampc/enigma-contract/blob/08346f20aad4ff7377a7ff1f737e9a3ab76d0c04/enigma-js/test/Enigma.spec.js#L99), and 4 lines below, you can see how we are excluding the last account (n=10) from the ENG token distribution

[2019-10-28 19:36] lacabra commented on #14
@ainsleys: let's leave issues like this open. Only close the ones that are resolved. Otherwise: out of sight, out of mind :)

[2019-10-28 19:37] lacabra commented on #31
@levackt: Yes, this is something we can configure through ENV vars like the issue you mentioned. Let's leave this open as well, until that is implemented.

[2019-10-28 19:58] lauracw100 commented on #31
Thanks for that info @lacabra!

[2019-10-29 04:39] levackt commented on #32
In his latest error I see he's trying to connect to localhost:3346, and this is no longer exposed, he should use the nginx port 3333

[2019-10-29 05:01] levackt commented on #32
@ainsleys @lacabra Besides the [getting started guide](https://blog.enigma.co/getting-started-with-enigma-an-intro-to-secret-contracts-cdba4fe501c2) needing an  update since [commit](https://github.com/enigmampc/discovery-cli/commit/72b8c2d02f3e990a3cf8f047dc0c6a3412dfc157) , we also need to update the [README which mentions 3346](https://github.com/enigmampc/discovery-cli/blame/master/README.md#L

[2019-11-01 00:09] lauracw100 commented on #30
R0bb0 resolved the issue by disabling the secure boot in the bios as referenced in the [Secret Node Tips & Troubleshooting](https://secretnodes.org/#/tutorials/sn-tips-troubleshooting).

[2019-11-01 00:09] #30 closed, assigned to secretchaingirl

[2019-11-07 04:03] levackt opened #33 "Any way to privately obtain blockchain data from within a secret contract?"
[forum post](https://forum.enigma.co/t/any-way-to-privately-obtain-blockchain-data-from-within-a-secret-contract/1136)

[2019-11-07 19:18] ainsleys commented on #33
This commenter will be at Eth waterloo, I think!

[2019-11-07 19:20] ainsleys commented on #32
Is this the same user on discord (Santiago)?

[2019-11-07 19:26] ainsleys commented on #23
I'm going to close this because I think it's more of a brainstormng discussion rather than soemthing that requires support at this time.

[2019-11-07 19:26] #23 closed, assigned to nobody

[2019-11-07 19:38] lauracw100 commented on #32
Oh no, this user is KanaGold.

[2019-11-07 21:32] lauracw100 commented on #32
Trying to make sure all instances documented here. From @Santiago:

`the port is also wrong within the client/src/utils/getEnigmaInit.js in the boilerplate code created during init`

as @levackt mentioned above it should be `3333`.

That code also needs to have the `enigma.setTaskKeyPair('cupcake');` call.

cc @lacabra @ainsleys

[2019-11-07 21:53] lauracw100 opened #34 "Error migrating millionaires problem secret contract"
From @MasterNodes on Discord:

I've followed this entire guide: https://blog.enigma.co/getting-started-with-enigma-a-front-end-demo-for-dapps-bc694d3d81b9 and I am able to run discovery start and compile the millionare contract but when I launch my react app it just says: "Millionaires' Problem secret contract not yet deployed..."
It's making the connection to the local dev enviornment, but it won

[2019-11-07 22:54] lauracw100 commented on #34
The issue was in the `migrations/2_deploy_contracts.js`. He had added another block of code to deploy his millionaires problem secret contract, but it was outside the definition of the async deploy function block.

Once moved inside the block, the `discovery migrate` issue was resolved.

The original error on `discovery migrate` was `Syntax error: await is only valid in async function`.

[2019-11-07 23:09] lauracw100 commented on #34
Also had issues with the port (3333) and the missing set task key pair call in the migration and test scripts, and the client's utils/getEnigmaInit.js.

[2019-11-07 23:09] #34 closed, assigned to secretchaingirl

[2019-11-09 02:14] ainsleys commented on #32
Hmm it seems a few different users are experiencing similar issues, someone at the hackathon is also having this. Maybe @lacabra can help

[2019-11-09 03:41] levackt opened #35 "Mapping data structure"
From discord dev-help

[2019-11-09 04:04] levackt commented on #35
Recommended HashMap with reference to the voting example

[2019-11-09 04:04] #35 closed, assigned to levackt

[2019-11-09 06:30] levackt commented on #32
They get stuck on the port or the task key pair?

It may be a bit late now and of course we have to update the guide to setTaskKeyPair anyway, but the docker-compose.yml should perhaps have kept the old port 3346:3346 mapping in p2p, which would then still work with the guide. I just tested that to be sure and it works.
But the horse has left the barn :)

[2019-11-09 08:23] levackt opened #36 "Error when Installing"
[forum post](https://forum.enigma.co/t/error-when-installing/1140)

Looks like the node permissions issue, referred him to previous solutions and suggested nvm.
Leaving this open for confirmation.

[2019-11-09 18:02] levackt commented on #32
Kicked off a [PR](https://github.com/enigmampc/discovery-cli/pull/24) for the port number

[2019-11-09 20:17] lacabra commented on #32
I have merged @levackt commit enigmampc/discovery-cli#24
and I have updated the code displayed on [Part 2 of the getting started guide](https://blog.enigma.co/getting-started-with-enigma-an-intro-to-secret-contracts-cdba4fe501c2) (both the port change and `setTaskKeyPair`)

Let me know if additional changes are needed anywhere else. Thanks!

[2019-11-09 20:40] lauracw100 commented on #32
That's look good @lacabra. There just one more place, under the `client/src/utils` directory:

`getEnigmaInit.js`

Needs the port change and the `setTaskKeyPair`.

That code comes from the template dapp repo I think ...

Thanks for updating these!

[2019-11-10 15:19] lacabra commented on #32
@lauraweindorf can you point to me what repo are you referring to? Thanks!

[2019-11-10 15:22] lauracw100 commented on #32
I believe it's this one that is used to create the client stuff when doing `discovery init`:

_discovery-template-dapp_

https://github.com/enigmampc/discovery-template-dapp/blob/master/src/utils/getEnigmaInit.js

[2019-11-10 15:53] levackt commented on #32
For the port in the template there's an [approved PR ](https://github.com/enigmampc/discovery-template-dapp/pull/1) in the pipeline,

If I understand correctly the taskkeypair isnt needed by the client unless its also deploying the contract on the fly, which the template doesn't do of course.

[2019-11-10 15:55] lauracw100 commented on #32
Oh, I didn't realize that. Good catch!

[2019-11-13 03:38] levackt opened #37 "Large scale data architecture?"
[forum post](https://forum.enigma.co/t/large-scale-data-architecture/1143)

[2019-11-13 17:40] levackt opened #38 "Is it possible to append some data directly onto the state?"
[forum post](https://forum.enigma.co/t/is-it-possible-to-append-some-data-directly-onto-the-state/1144)

        let mut millionaires = Self::get_millionaires();
        millionaires.push(Millionaire {
            address,
            net_worth,
        });
        write_state!(MILLIONAIRES => millionaires);
    }

[2019-11-13 17:42] levackt opened #39 "Stuck on task status 3"
[forum post](https://forum.enigma.co/t/stuck-on-task-status-3/1145)

Smart Contract "Sample.Sol" has been deployed at ETH address:  0x2c5f3c004878923f55A2a255F89Fe29393177509
Waiting. Current Task Status is 3
What does each different task status mean?
How do I get unstuck from status 3?

[2019-11-13 17:48] levackt commented on #39
Will link to the code where TaskStatus is defined, not sure if we have docs about it to link to.

Asked for more info.

[2019-11-13 18:01] levackt commented on #36
@lacabra  I still think it's permissions, the error is clear about that too, but they're running as root so not sure what to suggest, aside from "don't run as root" :)

[2019-11-13 23:59] lauracw100 commented on #38
These are good questions I've wondered about too.

I'd love to hear your guys' input @ainsleys, @lacabra and @levackt!

Maybe you could use a data structure that's dynamically allocated as items are added to it, where each item corresponds to a secret contract state item (key/value store). So you're not reading and writing the entire state? But still there's a limitation on the amount of data.

Hm

[2019-11-14 00:09] lauracw100 commented on #38
Oh I just saw @ainsleys comment on another related issue about Enigma using RocksDB for state storage.

[2019-11-14 00:14] lauracw100 commented on #38
Like the size limit of < 1MB for the secret contract itself and inputs, is there a size limit on the secret contract state?

[2019-11-14 00:43] lauracw100 commented on #22
Working on the 1st draft of an article.

[2019-11-17 23:57] ainsleys commented on #38
I'm trying to get some more clarity on this right now.

[2019-11-17 23:59] ainsleys commented on #37
I think user is correct w/r/t his last post about working with RocksDB but I am trying to get it confirmed. I also want to make sure there's not some issue I didn't think of. This may also be relevant to issue #38

[2019-11-20 04:53] levackt opened #40 "Streaming data, and making http requests"
This one's from discord, from user Moskalyk, one of the waterloo hackers.

On the 1st question, I've referred to the discussion on [Large scale data architecture](https://forum.enigma.co/t/large-scale-data-architecture/1143/8), the entire state is fully encrypted.

The 2nd I don't believe to be possible in the enclave, and referred to the [FAQ](https://enigma.co/discovery-documentation/FAQ/) about

[2019-11-20 15:24] #36 closed, assigned to levackt

[2019-11-21 17:47] ainsleys commented on #40
Including user's additional clarification here:

I think your response @levackt  is correct. I believe that we will have solutions to access chain state inside the enclave in the future but not right now. I suggest a relayer model for submitting any kind of external data stream i.e. oracle. Everything needs to be framed as a task, so data stream should be considered in this constraint.

[2019-11-21 18:17] ainsleys commented on #40
More info from the use-case...

re: batching data stream and submitting it as a task...

Not sure exactly what @moskalyk is attempting, but it sounds like it may also touch the issue of kicking off a task-- the secret contract itself can't do that. So we need a user or a service that observes the data and kicks off the task when conditions are met.

[2019-11-22 14:46] levackt opened #41 "Error compiling with extern crate “tflite”"
[forum post](https://forum.enigma.co/t/error-compiling-with-extern-crate-tflite/1162)

[2019-11-27 03:54] levackt opened #42 "No API code evident?"
[forum post](https://forum.enigma.co/t/no-api-code-evident/1170)

I know there's a network explorer being worked on, which means the api he's after will be up and possibly on discovery-documentation. Was touched on in the community call so I'll only mention that, please weigh in with more info if needed.

[2019-12-01 04:59] levackt commented on #41
reuven explained

[2019-12-01 04:59] #41 closed, assigned to nobody

[2019-12-01 04:59] #42 closed, assigned to levackt

[2019-12-02 17:35] levackt opened #43 "Computations over data"
[Forum question](https://forum.enigma.co/t/computations-over-data/1175)

[2019-12-03 05:22] levackt commented on #43
Responded with some general info to start

[2019-12-05 15:04] levackt commented on #39
With the info about status and working project Theo should be ok, will pick it up again if he gets back with further issues.

[2019-12-05 15:04] #39 closed, assigned to levackt

[2019-12-08 20:05] lauracw100 opened #44 "Getting Started Part 3 Guide doesn't show how to run the front-end"
From Discord:
(Nex)
i went through the getting started 3-part guide but it ends before actually viewing the front-end. Can someone point me to further documentation covering displaying the front end?

@ainsleys is this the right place to suggest that a modification to the Part 3 tutorial to add a bit about running the dapp for the front-end?

I also gave him the instructions to install and launch

[2019-12-09 00:23] lauracw100 opened #45 "Review enigma bounty projects to make sure they work with discovery version 0.1.8"
Discord:
@Nex pointed out that the enigma-millionaires-problem repo was generating an error on `discovery test`.

https://github.com/lauraweindorf/enigma-millionaires-problem

There were a couple of changes since the last version the repo was using (0.1.3) so I updated `truffle.js` and a few package dependencies and committed. It's working now.

I thought I'd add an issue here because some or all

[2019-12-09 00:27] lauracw100 commented on #32
Closing this because it's not an issue any longer, since the most recent updates to `discovery-cli 0.1.8`.

[2019-12-09 00:27] #32 closed, assigned to nobody

[2019-12-09 00:32] lauracw100 commented on #22
Back from holiday/travels and will work on completing the draft this week!

[2019-12-09 03:23] levackt opened #46 "Eng_wasm crate documentation"
[forum post](https://forum.enigma.co/t/eng-wasm-crate-documentation/1185)

Have responded with link to the supported types, are crate docs being considered too?
Not sure where the repo is to confirm, but we may only need to run rustdoc to generate the docs before release.

[2019-12-09 05:23] levackt commented on #46
There's a follow up, not sure how best to respond to this one yet. @ainsleys

[2019-12-10 21:02] ainsleys commented on #46
Thanks for flagging this @levackt . @lacabra and I had discussed crates documentation before but we haven't come to a conclusion yet. I've raised this on the internal questions channel and hopefully we come up with a plan soon. We are also working on a more comprehensive guide to secret state / storage with enigma that can hopefully help these issues. @jlwaugh is helping with this.

EDIT : I see t

[2019-12-10 21:08] ainsleys commented on #15
Followed up with user -- will be interested to see if he made any progress or has any thinking about how to handle the timeouts in both scenarios he described.

EDIT-- i'm going to close this issue, if he responds with something we can open a new ticket.

[2019-12-10 21:42] #15 closed, assigned to ainsleys

[2019-12-10 21:43] ainsleys commented on #16
Hi @lauraweindorf  -- closing this issue now! We may revisit the bounties in the future to standardize or update them but will be part of a separate effort

[2019-12-10 21:43] #16 closed, assigned to secretchaingirl, levackt

[2019-12-13 05:05] levackt opened #47 "initializing enigma"
New user stan_yi is stuck on init, I suspect it's the issue with taskkey and I've requested some more info or source code.

forum posts [here](https://forum.enigma.co/t/example-react-app-issue/1050/4) and [here](https://forum.enigma.co/t/error-when-running-discovery-test-for-tutorial-millionaires-problem/1130/12)

[2019-12-13 15:56] ainsleys commented on #44
Hey @lauraweindorf -- sure! Do you want to add the sample text you suggest we add here, and I'll update the blog post?

[2019-12-13 15:59] ainsleys commented on #31
I'm just catching up on our old issues -- is this implemented yet?

[2019-12-13 16:00] ainsleys commented on #33
Closing this, as the answer is no, you can't do this (for the time being) and we're aware of the product need and tracking it elsewhere.

[2019-12-13 16:00] #33 closed, assigned to ainsleys

[2019-12-13 16:05] ainsleys commented on #46
Just an update on here -- we've spoken w/ the engineers who would be responsible for adding documentation on the crate and should have an update next week. I'll let the user know we're on it.

[2019-12-13 16:06] ainsleys commented on #38
Still working on this. Hoping to have something comprehensive published that clarifies many questions about state soon.

[2019-12-13 19:53] lauracw100 commented on #44
Hey @ainsleys!

How about before the *Screenshots* section, add these sections?

### Initial dApp Setup

- `cd client`
- `npm install`

### Run the dApp

- `npm start`

[2019-12-14 15:22] #47 closed, assigned to levackt

[2019-12-14 16:01] levackt opened #48 "Smart contract and secret contract"
[forum post](https://forum.enigma.co/t/smart-contract-and-secret-contract/1206/5)

Stan is mostly following Laura's millionaires project, he mentions a Sample contract so I guess he also ran init in this or a new project.

Can and Ainsley have responded but we should also cleanup any unused smart contract code in the project.
We can also refer to the non-fungible token project for example smart +

[2019-12-14 16:05] levackt opened #49 "Recommended error handling pattern for secret contracts?"
[forum post](https://forum.enigma.co/t/recommended-error-handling-pattern-for-secret-contracts/1208)

[2019-12-15 23:01] lauracw100 opened #50 "Salad dApp having issues connecting to Salad Server"
Question from @stan_yi on dev forum: https://forum.enigma.co/t/browser-stucked-at-connecting-to-the-salad-server/1212/2

Issue added to `salad`: https://github.com/enigmampc/salad/issues/41

I've encountered the same. I've opened an issue here as well to track.

cc @levackt @lacabra @ainsleys

[2019-12-16 20:46] cankisagun commented on #49
I believe this was something raised in ETHWaterloo as well @ainsleys ?

[2019-12-16 21:21] ainsleys commented on #49
I don't recall @cankisagun -- I think the team working on ML requested more descriptive error messages for when contracts compile but still won't run

[2019-12-17 20:30] ainsleys commented on #50
Thanks Laura. @jlwaugh and I have started a new github "project" called Salad Integrations. We can also track work and issues related specifically to salad there.

[2019-12-17 21:22] lauracw100 commented on #50
okay sounds good @ainsleys!

[2019-12-18 15:43] levackt commented on #49
Result is part of std, so excluded by no_std and won't work.
I suggested Brendan "panics" with some examples from the docs and Salad.

[2019-12-20 19:22] lauracw100 opened #51 "Implementation of MPC in Enigma"
From the dev forum:

@stan_yi is asking about the implementation of MPC in Enigma. I've responded with info that the current implementation is in a TEE enclave and added a link to the reference documentation at: https://enigma.co/discovery-documentation/IntroductionToReference/

He also wanted to know where in the code was so I pointed him to the enigma-core repo.

Is there any detailed documentat

[2019-12-23 05:15] #49 closed, assigned to nobody

[2019-12-23 05:33] levackt opened #52 "Issues with eth_contract macro"
[forum post](https://forum.enigma.co/t/isues-with-eth-contract-macro/1221)

2 parts to this one

Based on the the voting example this seems correct.

We don't see the rest of the contract but the eth_contract declaration seems correct, and the json looks valid in the post.

Will refer to the voting example while I try reproduce the error, perhaps Brendan can share a broken project.

[2019-12-28 03:10] levackt opened #53 "Cannot find module EnigmaSimulation.json"
[Forum post](https://forum.enigma.co/t/cannot-find-module-enigmasimulation-json/1230)

I'm upgrading using his node version now, trying to reproduce now, before responding.

[2019-12-28 03:16] levackt commented on #52
Some updates;

1. Improvements to the macro:

2. Possible bug leading to the error, will request more info about the compiler.

[2019-12-28 03:51] levackt commented on #53
Failed to reproduce, troubleshooting with Brendan.

[2019-12-28 04:48] levackt opened #54 "Got error "linking with rust-lld failed: exit code: 1" when compiling contracts in examples"
[forum post](https://forum.enigma.co/t/got-error-linking-with-rust-lld-failed-exit-code-1-when-compiling-contracts-in-examples/987/19)

I couldn't reproduce this using the examples and requested rustc version for now, may also request a github project.

[2019-12-30 05:17] levackt commented on #52
There's an [open issue in discovery-cli](https://github.com/enigmampc/discovery-cli/issues/4), will keep this open until it's resolved to close the loop.

[2019-12-30 05:35] levackt commented on #54
@lacabra Some users have tried to use custom names for their libraries, see
[forum post](https://forum.enigma.co/t/got-error-linking-with-rust-lld-failed-exit-code-1-when-compiling-contracts-in-examples/987/22)

This results in discovery-cli not finding the wasm file as it [expects *contract.wasm here](https://github.com/enigmampc/discovery-cli/blob/bde068ba96ad6e644a9e060b57148308ceeb5cb1/src/dep

[2019-12-31 05:33] levackt commented on #53
After troubleshooting we found his mounted volume didn't match the project, because he started discovery from a directory other than the project.
Not closing this yet, will perhaps send a little PR to emphasize this in the readme.

[2019-12-31 18:28] levackt commented on #53
Suggested enhancement from Brendan

Perhaps simpler and more efficient will be to compare the working dir on migrate with the configured contracts path. Will take a look at this.

[2020-01-09 22:43] lauracw100 opened #55 "Salad integration tests failing"
From the dev forum: https://forum.enigma.co/t/salad-some-integration-tests-fail/1243

Some of the salad tests are failing. I've seen this before, but I don't remember how I resolved it.

Will try to do the same steps and see what I get. I also asked @mayak to post any changes made to the .env files or other.

[2020-01-15 14:48] levackt opened #56 "What is the best way for importing a large data set into secret state?"
[forum question](https://forum.enigma.co/t/what-is-the-best-way-for-importing-a-large-data-set-into-secret-state/1248)

[2020-01-20 04:25] levackt opened #57 "Compute task status 3 during “discovery test”"
[forum post](https://forum.enigma.co/t/compute-task-status-3-during-discovery-test/1262)

I've noticed and mentioned this from the error logs

While logs and snippets are included, I've asked realjohnward for a github project, else I'll piece it together and try to get it going in the coming days.

[2020-01-21 05:29] levackt commented on #57
Narrowed the issue down to using chrono to get the timestamp, looks like chrono should support it and I shared the github issue with possible solutions.

Basically he's storing timestamps of secrets and the owner can later read them once they're expired.

[2020-01-21 15:03] levackt opened #58 "is there persistent secure storage that only the contract can access?"
From discord

[4:58 PM] decentralized.ninja: Basically, is there persistent secure storage that only the contract can access?

[2020-01-21 16:10] levackt commented on #58
Answered by Ainsley

[2020-01-21 16:10] #58 closed, assigned to nobody

[2020-01-22 01:19] lauracw100 commented on #55
Added an issue to the discovery-cli repo and updated the dev forum post with my resolution: https://forum.enigma.co/t/salad-some-integration-tests-fail/1243

Changed the Salad docker tag to "latest" in the `.env` file fixed it for me. Will wait to hear back from @mayak until I close this.

[2020-01-22 01:31] lauracw100 commented on #55
cc @ainsleys @lacabra

I wonder if we want to put a troubleshooting note in the Salad README for this? There was only 1 dev that reported this issue on the dev forum, but there could be others that run into this who try to use Salad for the first time.

I don't know enough about why we clone the develop branch of the Salad repo instead of the master, and that's the branch that I'd assume would be

[2020-01-23 14:43] levackt opened #59 "Is agreeing on the order of processes/processors a challenge in multi-party computing?"
[forum post](https://forum.enigma.co/t/is-agreeing-on-the-order-of-processes-processors-a-challenge-in-multi-party-computing/1265)

[2020-01-23 15:26] levackt opened #60 "Is there a tool to estimate resource like gas estimation for Ethereum?"
From decentralized.ninja in Discord.

Don't think there is but perhaps something is planned in the near future, or some docs about measuring gas, or a plugin to report on gas used.

[2020-01-28 05:49] levackt commented on #57
WDYT? @ainsleys  @reuvenpo

Maybe in the meantime there's a workaround or new approach to his problem.

[2020-01-29 15:55] reuvenpo commented on #57
Despite the fact we do not use their SDK, fortanix puts this quite succinctly in their documentation:

https://edp.fortanix.com/docs/concepts/rust-std/#codestdtimecode

(Fortanix provides an SGX enclave SDK in rust which is analogous to the one we're using. The linked page explains various limitations that implementations of standard libraries face when trying to work from within enclaves, and app

[2020-01-29 16:05] reuvenpo commented on #57
The user can perhaps initialize their contract with the public key of a trusted "time service", and expose a secret contract method that accepts a timestamp (encoded in some format) and a signature of that timestamp made by the trusted service. This timestamp can be stored in secret storage, and the service could periodically let the smart contract know what time it is. The contract can then assum

[2020-01-30 03:08] levackt commented on #57
Thanks for the detailed info @reuvenpo , sharing it verbatim.

[2020-02-01 16:27] lauracw100 opened #61 "Failed tests with discovery-docker-network repo running in simulation mode"
This question is from @andy0126 on Discord:
He's following the instructions on the _discovery-docker-network_ repo and found that a couple of the tests are failing (see attached).

I suggested that he try the newer way of installing and running the Enigma network by using _discovery-cli_ and pointed him to that repo.

There may be a reason he's trying it via the _discovery-docker-network_ repo tho

[2020-02-04 04:04] levackt commented on #57
Closed with kind thanks to @reuvenpo

[2020-02-04 04:05] #57 closed, assigned to levackt

[2020-02-05 15:32] levackt opened #62 "init HW mode wrongly inits with EnigmaSimulation"
[forum post](https://forum.enigma.co/t/error-when-running-discovery-test-for-tutorial-millionaires-problem/1130/19)

Confirmed this, not sure if it's possible yet to use the mode in the [discovery-template-dapp](https://github.com/enigmampc/discovery-template-dapp/blob/master/src/utils/getEnigmaInit.js#L9)

[2020-02-07 17:30] lauracw100 opened #63 "Request for transparent, up-to-date roadmap"
https://forum.enigma.co/t/request-for-transparent-up-to-date-roadmap/1271

From bmiller59:

Thank you for your work. I am a developer and would love to build a production app on top of Enigma. I am currently in a proof-of-concept stage. It would be a great help to me, and other interested developers, to have access to an up-to-date roadmap for your efforts. This will help us to gauge your directio

[2020-02-07 17:52] lauracw100 opened #64 "Why does the Enigma Explorer show no activity? But it does on Github"
https://forum.enigma.co/t/why-does-the-enigma-explorer-show-no-activity-but-it-does-on-github/1275

Hey Victor, Eve is asking for more info and clarification on the Enigma explorer stats showing no activity vs GitHub. I wasn't able to participate in the initial Testnet launch and don't know much about that stats :-P. But I know there were issues and you guys are working on a re-launch. Let me know

[2020-02-07 18:22] lauracw100 commented on #64
I couldn't find the Enigma testnet explorer repo. Is it open source and under the enigmampc repo?

There's another question, I think relayed via Reddit, in the dev forum post where a dev is asking how the explorer is getting the data, is it submitted by the workers, etc. I was going to look through the source to try to answer :-P.

My guess is that it's getting the info from the Enigma contract, b

[2020-02-25 17:19] levackt opened #65 "Does anyone have guides to what API calls enigmacli is making under the hood?"
Leor in discord dev-help

[2020-02-26 15:40] levackt commented on #65
Couple of things here, one is the docs for the SDK, which I believe is covered [here](https://docs.cosmos.network/master/intro/overview.html)?

and some [swagger docs](https://cosmos.network/rpc/)

The other question is whether enigma exposes the api. Is the explorer using a public endpoint we can share with someone not running a full node to query?

[2020-02-27 19:00] levackt commented on #65
Community run api

https://api.chainofsecrets.org/#/

[2020-02-28 16:00] lauracw100 opened #66 "Where are the enigmacli docs?"
It would be nice to have docs on all the enigmacli commands, added to the EngimaBlockchain repo.

I'm assuming it's the pretty much the same as what's here: https://github.com/cosmos/gaia/blob/master/docs/resources/gaiacli.md

cc @assafmo @levackt @ainsleys

[2020-02-28 16:03] lauracw100 commented on #66
If the enigmacli is basically a clone of the gaiacli, I can do a PR with the enigmacli version of that?

[2020-02-28 16:52] ainsleys commented on #66
I think it's similar enough that you can do that @lauraweindorf and if we need to remove or modify any of the commands we can make those changes. I'd suggest going ahead and doing that but with a disclaimer at the top that it's WIP until we can confirm.

[2020-02-28 21:46] lauracw100 commented on #66
Okay sounds good. Thanks, Ainsley!

[2020-02-29 13:12] assafmo commented on #66
Thanks @lauraweindorf, we already ported some of it to our repo (The gov section).
I think what's missing from the above link is the `unjail` command and the `gaiacli q txs` & `gaiacli q tx` commands.

[2020-02-29 19:40] lauracw100 commented on #66
Got it, thanks @assafmo!

[2020-03-01 22:21] lauracw100 commented on #66
PR submitted

I believe I got everything 😄. Closing this issue ... but we can re-open if necessary.

cc @assafmo @ainsleys

[2020-03-01 22:21] #66 closed, assigned to secretchaingirl

[2020-03-02 08:19] assafmo commented on #66
Thanks @lauraweindorf, merged. :tada:

[2020-03-10 03:25] levackt opened #67 "error decoding 'consensus.create_empty_blocks_interval': time: invalid duration"
@Derek I just joined this group to ask the same question. I am seeing the same error.

This is from Chris in discord, Derek had/has the same problem but posted a new error copied below, can we ask for any config files or output to help troubleshoot? @assafmo

[2020-03-10 08:49] levackt opened #68 "Examples or tips for using chainlink"
From user vncnt in discord;

[2020-03-10 08:51] levackt opened #69 "Examples of talking to a secret node in the backend, i.e. behind a REST endpoint?"
From user vncnt in discord channel dev-help;

[2020-03-10 12:16] assafmo commented on #67
On what channel?